body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
.header-container{
    
   text-align: center;
  color: white;
  padding: 100px 0;
  line-height: 20px;
   
}
.header-container2{
    
    text-align: center;
   color:black;
    
 }
h1{
   
    font-size: 50px;
    
}
.header-heading{
    
}
.header-section{
  margin-bottom: 100px;
  background-image: url(images/donation1.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0%;

  
}
.donate-link{
    text-decoration: none;
    padding: 15px 40px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
}
.flexible-section{
    display: flex;
    text-align: center;
    margin: 50px 250px;

}
.donate-item{
    color: grey;
    font-weight: 800;
    width: 20%;
    margin: 10px;
    padding: 20px;
    box-shadow: 10px  ;
    background-color: rgba(211, 211, 211, 0.232);
    border-radius: 5px;
    
}
#donate-item-red{
    color: firebrick;
   background-color: rgba(255, 99, 71, 0.16);
   border: 2px solid firebrick;
}
.donate-today{
    margin-bottom: 100px;
}
.plan-container{
   text-align: center; 
   color: black;
   
   line-height: 20px;
    
 }
 .food-item{
    color: grey;
    width: 100%;
    padding: 20px;
    margin: 10px;
    background-color: rgba(173, 216, 230, 0.463);
    box-shadow: 10px  ;
    border-radius: 5px;
   
 }
 .shelter-item{
    color: grey;
    width: 100%;
    padding: 20px;
    margin: 10px;
    box-shadow: 10px;
    background-color: rgba(188, 143, 143, 0.26);
    border-radius: 5px;
    
 }
 .education-item{
    color: grey;
    margin: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 10px  ;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    
 }
 .flexible-section2{
    display: flex;
    
    margin: 50px 100px;
 }
 .flexible-section2 h2{
    color: black;
 }