body{
    font-family: 'Poppins', sans-serif;
}
.header-container{
    text-align: center;
}
h1{
   
    font-size: 50px;
    
}
.header-heading{
    margin-top: 100px;
}
.header-section{
  
}
.donate-link{
    text-decoration: none;
    padding: 10px 40px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
}
